@import "tailwindcss";

@theme {
  --color-brand-purple: #4B1F5E;
  --color-brand-purple-light: #5B2D6E;
  --color-brand-red: #E8374A;
  --color-brand-pink-bg: #E9E2E7;
  --color-brand-lms-card: #DACDD7;
  --color-brand-purple-dark: #3A1245;
  --color-brand-teal: #5BCAD8;
}


:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), system-ui, -apple-system, sans-serif;
}